{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.js' %}" type="text/javascript"></script> 
</head>
<body>
<div class="myDiv">
<h1>Forgot Password</h1>
<form id="bsf" action="#" method="">
    <br>
    <br>
    <div>
    <label for="uname"><b> User name : </b></label>
    <input class="input" type="text" id="uname1" placeholder="Username.." name="uname" required/>
    <br>
    </div>
    <br>
    <div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button"  id="otp" value="Get OTP" class="button button1">
    </div>
    <br>
    <div>
    <label><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OTP : </b></label>
    <input class="input" for="otp" type="otp" id="otp1" placeholder="enter otp.." name="otp" required/>
    <br>
    <br>
    <br> 
    </div>
    <div for="chngspswd">
        <label for="npswd"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; New Password : </b></label>
    <input class="input" type="password" id="npswd" placeholder="New Password...."  name="newpswd" required/>
    <br>
       <div>
        <h5>Note:-<br>
            please enter atleast eight characters,contain atleast one digit.<br></h5>
       </div>
    <label for="cpswd"><b> Confirm Password : </b></label>
    <input class="input" type="password"  id="cpswd" placeholder="Confirm Password"  name="conpswd" required/>
    <br> 
    </div> 
    <div>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit"  id="otpsubmit" value="submit" class="button button2">
    <!-- <input type="submit" id="lback" onclick="location.href='login.html'" class="button button2" name="submit" value="back"> -->
    <a href="login.html" class="button button2">back</a>
    </div>
</form>
</div>
<footer>
    <p class="text-footer">
        Copyright basilelavans©-All rights are reserved
    </p>
</footer>
</body>
</html>