{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>leave details</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.js' %}" type="text/javascript"></script> 
</head>
<body>
<div class="myDiv">  
    <div class="head">
        <h1>Leave Details</h1>
    </div>
    <table>
        <tr>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr>
            <td>Sick leave</td>
            <td ><i class="fa fa-edit" style="font-size:24px ; color:blue"></i></td>
            <td><i class="fa fa-times-rectangle-o" style="font-size:24px ; color:red"></i></td>
        </tr>
        <tr>
            <td>Emergency leave</td>
            <td ><i class="fa fa-edit" style="font-size:24px ; color:blue"></i></td>
            <td><i class="fa fa-times-rectangle-o" style="font-size:24px ; color:red"></i></td>
        </tr>
        <tr>
            <td>Paternity Leave</td>
            <td ><i class="fa fa-edit" style="font-size:24px ; color:blue"></i></td>
            <td><i class="fa fa-times-rectangle-o" style="font-size:24px ; color:red"></i></td>
        </tr>
        <tr>
            <td>Maternity Leave</td>
            <td ><i class="fa fa-edit" style="font-size:24px ; color:blue"></i></td>
            <td><i class="fa fa-times-rectangle-o" style="font-size:24px ; color:red"></i></td>
        </tr>
    </table> 
    <input type="submit" id="usrback" class="button button2" name="submit" value="back">
</div>
</body>
</html>