<!DOCTYPE html>
<html>
<head>
    <title>admin Applied leave request details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="jquery.js" type="text/javascript"></script>
</head>
<body>
<div class="myDiv">  
    <div class="head">
        <h1><u>Requested Leave Details</u></h1>
    </div>
    <table>
        <tr>
            <th>Details</th>
            <th>Edit</th>
        </tr>
        <tr>
            <td>leave type </td>
            <td ><i class="fa fa-edit" style="font-size:24px ; color:blue"></i></td>
        </tr>
        <tr>
            <td>From</td>
            <td ><i class="fa fa-edit" style="font-size:24px ; color:blue"></i></td>
        </tr>
        <tr>
            <td>to</td>
            <td ><i class="fa fa-edit" style="font-size:24px ; color:blue"></i></td>
        </tr>
        <tr>
            <td>fullday/halfday</td>
            <td ><i class="fa fa-edit" style="font-size:24px ; color:blue"></i></td>
        </tr>
        <tr>
            <td>session</td>
            <td ><i class="fa fa-edit" style="font-size:24px ; color:blue"></i></td>
        </tr>
        <tr>
            <td>reason</td>
            <td ><i class="fa fa-edit" style="font-size:24px ; color:blue"></i></td>
        </tr>
    </table> 
    <div>
    <br>
    <input type="submit"  id="lvrqback" value="back" class="button button2">
    </div>
</div>
</body>
</html>