<!DOCTYPE html>
<html>
<head>
<title> admin Profile</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="jquery.js" type="text/javascript"></script>    
</head>
<body>
    <div class="flex-container">
        <label for="fileToUpload">
            <div>
                <img class="profile-pic preview1 ImgPreview" id="imgFileUpload" style="cursor: pointer" src="hrpropic.jpg">
                <span class="glyphicon glyphicon-camera"></span>
                <span id="mySpan">Change Image</span>
            </div>
            </label>
            <input type="File" name="fileToUpload" class="fileToUpload" id="fileToUpload">
        <!-- <div class="fill"><img src="hrpropic.jpg" width="300px" height="200px"></div> -->
        
        <div class="bio">
            <h2><b> Merin Varghese</b></h2>
            <h4><b> Hr Manager</b></h4>
            <h4><b> Emp-id:0123456</b></h4>
            <h4><b> mob:9876543210</b></h4>
            <h4><b> merin@alliswell.com</b></h4>
        </div>
        <br><br>
    </div>
<ul>
    <li><a href="ad_applyleave.html">Apply leave</a></li>
    <li><a href="ad_leavestatus.html">leave Status</a></li>
    <li><a href="ad_leaverequest.html">Leave Requests</a></li>
    <li><a href="ad_chngpswd.html">change password</a></li>
    <li><a href="login.html">Logout</a></li>
</ul>
<footer>
    <p class="text-footer">
    Copyright basilelavans©-All rights are reserved
    </p>
</footer>
</body>
</html>
