<!DOCTYPE html>
<html>
<head>
    <title>user Leave Apply Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="jquery.js" type="text/javascript"></script>
</head>
<body>
<div class="myDiv">
    <h2><u>Apply Leave</u></h2>
    <br>
    <br>
<form id="applylv" action="applylvdetails.html" method="get">
    <label for="lvtype">Leave Type :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
    <select name="lvtype" id="lvtype"required>
        <option value=""></option>
        <option value="casual">Casual</option>
        <option value="sick">Sick</option>
        <option value="emergency">Emergency</option>
        <option value="paternity">Paternity</option>
      </select><br><br>

    <label for="lvstarts" >From :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
    <input type="date"  id="from" value="from" name="lv-from" required><br><br>

    <label for="lvends">To :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="date" id="to" value="to" name="lv-to" required><br><br>

    <label for="no.of days">Total No.of Days : </label>
    <input type="text" id="noofdays" placeholder="enter total number of days" name="noofdays" required><br><br>

    <label for="day"><input type="radio" value="fullday" name="day">Fullday</label>
    <label for="day"><input type="radio" value="halfday" name="day">Halfday</label>
    <br><br>

    <label for="session"><input type="radio" class="half" name="half">First Half</label>
    <label for="session"><input type="radio" class="half" name="half">Second Half</label>
    <br><br>

    <label for="reason">Reason:</label>
    <textarea id="reason" name="reason" rows="4" cols="40" required></textarea><br><br>
    <input type="submit" class="button button2" name="submit" value="Submit">
    <!-- <input type="submit" id="adback" class="button button2" name="submit" value="back"> -->
    <a type="submit" href="profile.html" class="button button2">back</a>
</div>
</form>
</div>
<footer>
    <p class="text-footer">
        
      Copyright basilelavans©-All rights are reserved
    
    </p>
</footer>
</body>
</html>