<!DOCTYPE html>
<html>
<head>
<title> home page</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="jquery.js" type="text/javascript"></script>    
</head>
<body>

    <div class="center">
        <ul>    
            <li><a href="login.html">login</a></li>
            <br>
        </ul>
    </div>
    <footer class="footer">
        <p class="text-footer">
            Copyright basilelavans©-All rights are reserved
        </p>
    </footer>







</body>
</html>